<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>player_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{80,76}}</string>
                <key>offset</key>
                <string>{4,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{64,81},{80,76}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>player_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,80},{80,68}}</string>
                <key>offset</key>
                <string>{-18,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,70},{80,68}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>player_list.png</string>
            <key>size</key>
            <string>{84,150}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7af29ed378c4eb5b5cfec9bba9792820$</string>
            <key>textureFileName</key>
            <string>player_list.png</string>
        </dict>
    </dict>
</plist>
