<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>550001.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,2},{28,15}}</string>
                <key>offset</key>
                <string>{1,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,27},{28,15}}</string>
                <key>sourceSize</key>
                <string>{50,43}</string>
            </dict>
            <key>550002.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,19},{28,13}}</string>
                <key>offset</key>
                <string>{2,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,26},{28,13}}</string>
                <key>sourceSize</key>
                <string>{50,43}</string>
            </dict>
            <key>550003.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,78},{30,11}}</string>
                <key>offset</key>
                <string>{1,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,27},{30,11}}</string>
                <key>sourceSize</key>
                <string>{50,43}</string>
            </dict>
            <key>550004.png</key>
            <dict>
                <key>frame</key>
                <string>{{40,150},{32,25}}</string>
                <key>offset</key>
                <string>{1,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,17},{32,25}}</string>
                <key>sourceSize</key>
                <string>{50,43}</string>
            </dict>
            <key>550005.png</key>
            <dict>
                <key>frame</key>
                <string>{{40,127},{34,21}}</string>
                <key>offset</key>
                <string>{1,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,18},{34,21}}</string>
                <key>sourceSize</key>
                <string>{50,43}</string>
            </dict>
            <key>550006.png</key>
            <dict>
                <key>frame</key>
                <string>{{91,131},{34,19}}</string>
                <key>offset</key>
                <string>{1,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,18},{34,19}}</string>
                <key>sourceSize</key>
                <string>{50,43}</string>
            </dict>
            <key>550007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,119},{36,31}}</string>
                <key>offset</key>
                <string>{1,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,11},{36,31}}</string>
                <key>sourceSize</key>
                <string>{50,43}</string>
            </dict>
            <key>550008.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,91},{38,27}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,12},{38,27}}</string>
                <key>sourceSize</key>
                <string>{50,43}</string>
            </dict>
            <key>550009.png</key>
            <dict>
                <key>frame</key>
                <string>{{46,100},{40,25}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,12},{40,25}}</string>
                <key>sourceSize</key>
                <string>{50,43}</string>
            </dict>
            <key>550010.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,86},{42,31}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{42,31}}</string>
                <key>sourceSize</key>
                <string>{50,43}</string>
            </dict>
            <key>550011.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,34},{42,27}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,5},{42,27}}</string>
                <key>sourceSize</key>
                <string>{50,43}</string>
            </dict>
            <key>550012.png</key>
            <dict>
                <key>frame</key>
                <string>{{50,73},{44,25}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,5},{44,25}}</string>
                <key>sourceSize</key>
                <string>{50,43}</string>
            </dict>
            <key>550013.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{46,27}}</string>
                <key>offset</key>
                <string>{0,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{46,27}}</string>
                <key>sourceSize</key>
                <string>{50,43}</string>
            </dict>
            <key>550014.png</key>
            <dict>
                <key>frame</key>
                <string>{{50,29},{46,25}}</string>
                <key>offset</key>
                <string>{0,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{46,25}}</string>
                <key>sourceSize</key>
                <string>{50,43}</string>
            </dict>
            <key>550015.png</key>
            <dict>
                <key>frame</key>
                <string>{{50,2},{46,25}}</string>
                <key>offset</key>
                <string>{0,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{46,25}}</string>
                <key>sourceSize</key>
                <string>{50,43}</string>
            </dict>
            <key>550016.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,31},{46,19}}</string>
                <key>offset</key>
                <string>{0,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{46,19}}</string>
                <key>sourceSize</key>
                <string>{50,43}</string>
            </dict>
            <key>550017.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,52},{46,17}}</string>
                <key>offset</key>
                <string>{0,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{46,17}}</string>
                <key>sourceSize</key>
                <string>{50,43}</string>
            </dict>
            <key>550018.png</key>
            <dict>
                <key>frame</key>
                <string>{{50,56},{46,15}}</string>
                <key>offset</key>
                <string>{0,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{46,15}}</string>
                <key>sourceSize</key>
                <string>{50,43}</string>
            </dict>
            <key>550019.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,71},{46,13}}</string>
                <key>offset</key>
                <string>{0,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{46,13}}</string>
                <key>sourceSize</key>
                <string>{50,43}</string>
            </dict>
            <key>550020.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,71},{46,13}}</string>
                <key>offset</key>
                <string>{0,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{46,13}}</string>
                <key>sourceSize</key>
                <string>{50,43}</string>
            </dict>
            <key>550021.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,71},{46,13}}</string>
                <key>offset</key>
                <string>{0,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{46,13}}</string>
                <key>sourceSize</key>
                <string>{50,43}</string>
            </dict>
            <key>550022.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,127},{20,13}}</string>
                <key>offset</key>
                <string>{-1,13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,2},{20,13}}</string>
                <key>sourceSize</key>
                <string>{50,43}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>55.png</string>
            <key>size</key>
            <string>{128,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6f1efcd4d3e7dda11bc68d65f549d83f$</string>
            <key>textureFileName</key>
            <string>55.png</string>
        </dict>
    </dict>
</plist>
